body{
        background-color: aqua;
}

h1{
        color: navy;
        font-size: 3rem;
        text-align: center;
}

#kontener{
        background-color: white;
        border: 1px solid black;
        width: 500px;
        height: 500px;
        margin: auto;
        margin-top: 70px;
        border-radius: 10px;
}

#tabla{
        background-color: white;
        width: 488px;
        height: 488px;
        margin: auto;
        margin-top: 7px;
}

.tile{
        background-color: lightgrey;
        color: black;
}

#valaszto{
        margin: auto;
        background-color: white;
        width: 163px;
        height: 163px;
        border: 1px solid black;
        border-radius: 10px;
        margin-top: 20px;
}

.tile, .valasztoTile{
        width: 50px;
        height: 50px;
        float: left;
        text-align: center;
        border-radius: 5px;
        cursor: pointer;
        margin: 2px;
        font-size: 2rem;
        font-family: Fantasy;
        user-select: none;
}

.valasztoTile{
        background-color: greenyellow;
        color: blue;
}

#magyarazat{
        border: 1px solid black;
        float: left;
        background-color: green;
        border-radius: 10px;
        width: 350px;
        text-align: center;
}

p, p a{
        color: white;
}

a:any-link{
        text-decoration: underline;
        color: white;
}

.helyes{
        color:green;
}

.helytelen{
        color: red;
}

#ellenoriz{
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  margin-top: 10px;
}

#gombdiv{
        margin-top: 10px;
        width: 116px;
        margin: auto;
        align-items: center;
}